@charset "utf-8";
.header {
    width: 100%;
    background-color: rgb(0, 0, 0);
}
* {
    font-family: "나눔 고딕", NanumGothic, '돋움', Dotum, sans-serif;
}
.inner {
    width: 1080px;
    margin: 0 auto;
}

.header_title,
.nav,
.main {
    margin: 0 40px;
}
.header_title {
    height: 120px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 120px;
}
.nav {
    width: 1000px;
    margin: 40px;
}
.nav_item:nth-child(2) {
    margin-left: 14px;
    margin-right: 14px;
}
.nav_item {
    float: left;
    height: 33px;
    border: 1px solid rgb(209, 209, 209);
    width: 322px;
    text-align: center;
    line-height: 33px;
    font-size: 16px;
}
.nav_item:hover {
    font-weight: bold;
    border-color: rgb(69, 69, 69);
}
.nav_item_a {
    text-decoration: none;
    color: rgb(0, 0 ,0);
    display: block;
}
.nav:after {
    content: '';
    display: block;
    clear: left;
}
.main_title {
    font-size: 20px;
    color: rgb(0, 0 ,0);
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(69, 69, 69);
}
.article {
    margin-top: 30px;
    border: 1px solid rgb(209, 209, 209);
}
.article_title {
    height: 46px;
    line-height: 46px;
    padding-left: 15px;
    margin: 0;
    font-size: 16px;
    color: rgb(51, 51, 51);
    border-bottom: 1px solid rgb(209, 209, 209);
    background-color: rgb(247, 247, 247);
    font-weight: bold;
}
.article:last-child{
    margin-bottom: 40px;
}
.article_content {
    margin: 30px;
    font-size: 12px;
    color: rgb(0, 0 ,0);
}
.size_table {
    border-collapse: collapse;
    width: 100%;
    height: 300px;
}
.size_caption,
.refund_caption {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
}
.size_table th {
    background-color: rgb(251, 251, 251);
    font-weight: bold;
    width: 168px;
    height: 40px;
}
.size_table th,
.size_table td {
    border: 1px solid rgb(228, 228, 228);
    font-size: 12px;
    color: rgb(85, 85, 85);
    text-align: center;
}
.size_table .division {
    width: 252px;
}
.size_table td {
    width: 82px;
}
.size_table .gender {
    width: 164px;
    white-space: pre-line;
}
.size_table .body,
.size_table .gender {
    font-weight: bold;
}
.refund_table {
    font-size: 12px;
    color: rgb(85, 85, 85);
    border-collapse: collapse;
    width: 100%;
    height: 150px;
}
.refund_table th {
    background-color: rgb(251, 251, 251) ;
    border-top: 2px solid rgb(165, 165, 165);
    border-bottom: 1px solid rgb(228, 228, 228);
    text-align: center;
    font-weight: normal;
    height: 34px;
    width: 186px;
}
.refund_table .division {
    width: 372px;
}
.refund_table td {
    text-align: center;
}
.refund_table .price {
    text-align: right;
}
.refund_table .foot{
    border-top: 1px solid rgb(165, 165, 165);
    border-bottom: 1px solid rgb(228, 228, 228);
    font-weight: bold;
    height: 34px;
}
.content_title {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.form_inner {
    border: 1px solid rgb(228, 228, 228);
    background-color: rgb(251, 251, 251);
}
.form_title {
    font-size: 14px;
    color: rgb(0, 0 ,0);
    font-weight: bold;
}
.form_inner {
    width: 936px;
}
.form_inner_container .input {
    font-size: 12px;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    width: 894px;
    height: 30px;
}
.form_inner_container {
    width: 900px;
    margin: 0 auto;
}
.input_birthday {
    width: 297px;
    height: 30px;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    font-size: 12px;
}
.radio {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(228, 228, 228);
    margin-right: 5px;
}

.radio:checked:before {
    content: '';
    display: block;
    background:rgb(71, 71, 71);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    outline: none;    
}
.radio_male,
.radio_female {
    float: left;
    font-size: 12px;
    color: rgb(0, 0, 0);
    margin-right: 40px;
}
.input_radio:after {
    content: '';
    display: block;
    clear: left;
}
.input_phone {
    height: 30px;
    width: 770px;
    font-size: 12px;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(0, 0, 0);
}
.phone_btn {
    border: 1px solid rgb(8, 166, 0);
    background: rgb(78, 197, 61);
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 120px;
    height: 30px;
}
.input_phone_check {
    margin-top: 5px;
}
.hobby {
    float: left;
    margin-right: 60px;
    font-size: 12px;
    color: rgb(0, 0, 0);
}
.checkbox {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    height: 12px;
    width: 12px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(228, 228, 228);
}

.checkbox:checked:before {
    content: '';
    display: block;
    background:rgb(71, 71, 71);
    width: 12px;
    height: 10px;
    outline: none;    
}
.hobby_checkbox:after {
    content: '';
    display: block;
    clear: left;
}
.textarea_greeting {
    font-size: 12px;
    border-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    resize: none;
}
.submit_btn {
    border: 1px solid rgb(8, 166, 0);
    background: rgb(78, 197, 61);
    font-size: 16px;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 100%;
    margin: 30px 0;
}
.phone_btn:hover,
.submit_btn:hover {
    cursor: pointer;
}
.list_project {
    border: 1px solid rgb(228, 228, 228);
    width: 100%;
}
.list_project_inner {
    margin: 50px 20px;
}
.project_title {
    font-size: 32px;
    color : rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

.project_word {
    font-size: 14px;
    color: rgb(0, 0 ,0);
    font-weight: bold;
}
.project_word.bottom{
    margin-top: 20px;
}
.blue_stress {
    font-size: 12px;
    color: rgb(85, 155, 250);
}
.project_p {
    font-size: 12px;
    margin-left: 0px;
    color: rgb(0, 0, 0);
    white-space: pre-line;
}
.list_search {
    border: 1px solid rgb(228, 228, 228);
    width: 240px;
}
.list_search_inner {
    margin: 20px;
    width: 200px;
}
.list_search_num {
    float: left;
    border: 1px solid rgb(224, 224, 224);
    width: 17px;
    height: 17px;
    font-size: 10px;
    color: rgb(102, 102, 102);
    text-align: center;
    line-height: 17px;
    margin-right: 10px;
}
.list_search_p {
    float: left;
    font-size: 12px;
    margin-top: 2px;
}
.list_search_p a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.list_search_p:hover {
    text-decoration: underline;
    
}
.list_search_list {
    margin-bottom: 5px;
}
.list_search_list:after {
    clear: left;
    content: '';
    display: block;
}

.list_cookie {
    border: 1px solid rgb(228, 228, 228);
}
.list_cookie_inner {
    margin: 20px;
}
.list_cookie_inner .cookie_ul {
    padding-left: 20px;
}
.list_cookie_inner li:nth-child(1) {
    font-size: 12px;
    font-weight: bold;
    color : rgb(0, 0, 0);
}
.cookie_stress_01 {
    color : rgb(85, 155, 250);
}
.list_cookie_inner li:nth-child(2):nth-child(6) {
    font-size: 12px;
    color : rgb(0, 0, 0);
}
.cookie_stress_02 {
    color : rgb(236, 83, 54);
}
.cookie_stress_03 {
    text-decoration: underline;
    color : rgb(85, 155, 250);
}
.list_cookie_inner li {
    list-style: none;
}
.list_cookie_inner li:last-child a {
    list-style: none;
    text-decoration: underline;
    color : rgb(85, 155, 250);
}
.list_cookie_inner li {
    margin-bottom: 10px;
}
.list_news {
    border: 1px solid rgb(228, 228, 228);
    padding: 0;
}
.list_news :last-child {
    border: none;
}
.news_inner {
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid rgb(228, 228, 228);
    list-style: none;
}
.list_news li:nth-child(2) .news_content {
    margin-left: 0;
}
.news_image,
.news_content {
    float: left;
}
.news_content {
    margin-left: 10px;
}
.news_title {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
 }
 .news_title a {
    color: rgb(0, 0, 204);
 }
.news_p {
    margin: 0;
    white-space: pre-line;
}
.news_inner:after {
    content: '';
    display: block;
    clear: left;
}
.list_weptoon {
    border: 1px solid rgb(228, 228, 228);
}
.weptoon_inner {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}
.weptoon_inner:after {
    content: '';
    display: block;
    clear: left;
}
.weptoon_inner li {
    float: left;
    margin: 20px 0 0 20px;
    height: 180px;
}
.weptoon_inner li:nth-child(3n) {
    margin-right: 21px;
}
.weptoon_inner .image:hover {
    cursor: pointer;
}

.weptton_cuttoon {
    border: 1px solid rgb(113, 176, 54);
    background-color: rgb(128, 200, 61);
    font-size: 10px;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 25px;
    text-align: center;
    height: 15px;
    line-height: 15px;
    margin-right: 2px;
}
.weptton_phone {
    border: 1px solid rgb(223, 78, 40);
    background-color: rgb(236, 83, 54);
    font-size: 10px;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 15px;
    width: 40px;
    text-align: center;
    line-height: 15px;
    margin-right: 2px;
}
.weptton_image_text {
    margin-top: 5px;
}
.weptton_image_title {
    font-size: 14px;
    color : rgb(0, 0 ,0);
    font-weight: bold;
}
.weptton_order {
    font-size: 12px;
    color:rgb(0, 0, 0);
}
.weptoon_inner a {
    text-decoration: none;
    cursor: initial;
    color: rgb(0, 0, 0);
    display: block;
}
.weptton_hover:hover {
   text-decoration: underline;
   cursor: pointer;
}
.footer {
    text-align: center;
    width: 100%;
    border-top: 1px solid rgb(228, 228, 228);
    padding: 40px 0;
}
.footer_address {
    font-size: 12px;
    font-style: initial;
    color: rgb(153, 153, 153);
    margin-bottom: 5px;
}
.footer_copyright {
    font-size: 12px;
    color: rgb(0, 0, 0);
}